/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    margin: auto;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

/* Estilos de la tabla */
table {
    width: 100%;
    border-collapse: collapse;
    background-color: #fff;
}

th, td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #f2f2f2;
}

/* Estilo del filtro */
.filter-input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
}
